node_modules
**/node_modules
**/dist
**/.turbo
**/.cache
**/coverage
**/.nyc_output
**/*.tsbuildinfo
.git
.github
.env
.env.*
!.env.example
*.log
.DS_Store
.idea
.vscode
docker-compose*.yml
Dockerfile*
fly.*.toml
docs
